APP_NAME=Incident Management API
ENVIRONMENT=development
SQL_ECHO=false

DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/database_name

JWT_SECRET_KEY=llCZzVDztf3sxhgP3Kq8XhZdEdfQsI-Z_ZggLX7J9ti54f_H_y5ugyX6KfR07DWOG0SSvYOVduYu-qYIaohgcQ
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30